<template>
  <div class="editor">
    <textarea class="editArea" ref="editArea" @input="changeInput"></textarea>
    <button class="bold" @click="bold">Bold</button>
    <button class="underline" @click="underline">Underline</button>
    <button class="italic" @click="italic">Italic</button>
    <button class="save" @click="save">SAVE</button>
    <ul class="editedList">
      <li v-for="item in dataEdit" :key="item.id" v-html="item.value" @click="editData(item.id)"></li>
    </ul>
  </div>
</template>

<script>
export default {
  name: 'Editor',
  props: {
    items: {
      type: Array
    }
  },
  data() {
    let tempData = this.items
    tempData.forEach(obj => {
      obj.edit = false;
      return obj;
    });
    return {
      dataEdit: tempData
    };
  },
  methods: {           
      editData(id) {
        const tempData = this.dataEdit.find(item => item.id === id);
        this.dataEdit.map(item => item.edit = false);
        if (tempData) {
          tempData.edit = true;
          this.$refs.editArea.value = tempData.value;
        }
      },
      underline() {
        if (!this.$refs.editArea.value.match(/\<u\>|\<\/u\>/)) {
          this.changeInput();
          this.$refs.editArea.value = `<u>${this.$refs.editArea.value}</u>`;
        }
      },
      italic() {
        if (!this.$refs.editArea.value.match(/\<i\>|\<\/i\>/)) {
          this.changeInput();
          this.$refs.editArea.value = `<i>${this.$refs.editArea.value}</i>`;
        }
      },
      bold() {
        if (!this.$refs.editArea.value.match(/\<b\>|\<\/b\>/)) {
          this.changeInput();
          this.$refs.editArea.value = `<b>${this.$refs.editArea.value}</b>`;
        }
      },
      save() {
        const tempData = this.dataEdit.find(item => item.edit === true);
        if (tempData) {
          tempData.value = this.$refs.editArea.value;
          this.$refs.editArea.value = '';
          this.changeInput();
          return;
        } else if (this.$refs.editArea.value.replace(/<(?:.|\n)*?>/gm, '') !== '') {
          const nextId = this.dataEdit[this.dataEdit.length - 1].id + 1;
          const editAreaValue = this.$refs.editArea.value;
          this.dataEdit.push({
            id: nextId,
            value: editAreaValue,
            edit: false
          });
          this.$refs.editArea.value = '';
          this.changeInput();
          return;
        }
      },
      changeInput() {
        if (this.$refs.editArea.value === '') {
          this.dataEdit.map(item => item.edit = false);
        }
      }
  },
}
</script>


<style scoped lang="scss">
  .editor {
    width: 100%;
    display: flex;
    flex-flow: column;

    .editArea {
      width: 200px;
      height: 100px;
    }

    .bold, .italic, .underline, .save {
      width: 150px;
      margin: 5px;
      display: flex;
    }

    .bold {
      font-weight: bold;
    }

    .italic {
      font-style: italic;
    }

    .underline {
      text-decoration: underline;
    }

    .editedList {
      text-align: left;
    }
  }
</style>
